.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 116px;
}

.logo-icon {
  width: 86px;
  height: 34px;
  fill: #231f20;
}

.header-list {
  display: flex;
  gap: 40px;
}

.header-item {
  font-weight: 500;
  font-size: 20px;
  text-transform: capitalize;
  color: #9b9b9b;
}

.header-item.is-active {
  color: #2f2f37;
}

.btn {
  border-radius: 31px;
  padding: 10px 16px;
  border: none;
  font-weight: 500;
  font-size: 20px;
  text-transform: capitalize;
  color: #fff;
}

.black-btn {
  background-color: #171717;
}

.hero-title-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 72px;
}

.hero-title {
  font-family: "Aldrich", sans-serif;
  font-weight: 600;
  font-size: 36px;
  color: #262626;
  max-width: 400px;
}

.hero-text {
  font-weight: 400;
  font-size: 20px;
  color: #262626;
  max-width: 490px;
}

.hero-bg-container img {
  border-radius: 38px 38px 0 0;
}

.nav-list {
  background-color: #171717;
  display: flex;
  gap: 40px;
  justify-content: center;
}

.nav-item {
  font-weight: 500;
  font-size: 20px;
  color: #fcfcfc;
  padding: 16px 0;
}

.numbers-container {
  padding-top: 120px;
  padding-bottom: 120px;
}

.nr-title {
  font-weight: 500;
  font-size: 40px;
  text-transform: uppercase;
  color: #262626;
  text-align: center;
  margin-bottom: 80px;
}

.nr-list {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.nr-item {
  text-align: center;
  padding-right: 49px;
  border-right: 1px solid rgba(38, 38, 38, 0.15);
}

.nr-item:last-child {
  border-right: none;
  padding-right: 0;
}
.nr {
  font-weight: 400;
  font-size: 77px;
  color: #262626;
}
.nr-descr {
  font-weight: 500;
  font-size: 20px;
  text-transform: capitalize;
  color: #969494;
}

.costum {
  padding-top: 56px;
  padding-bottom: 216px;
  background-color: #e6e6e6;
  position: relative;
}

.costum-title-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}
.costum-title {
  font-weight: 400;
  font-size: 32px;
  text-transform: capitalize;
  color: #2f2f37;
  font-family: "Aldrich", sans-serif;
  position: relative;
}
.costum-title-part {
  font-weight: 400;
  font-size: 16px;
  text-transform: capitalize;
  color: #b3b3b3;
  position: absolute;
}
.costum-price {
  font-size: 36px;
  color: #2f2f37;
  font-weight: 400;
}

.costum-price span {
  font-size: 24px;
  text-transform: capitalize;
  color: #b3b3b3;
}
.costum-visual-container {
  display: flex;
  justify-content: space-between;
}
.options-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.option-item {
}
.option-btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
}
.option-icon {
  max-height: 60px;
}
.costum-car-img {
}

.costum-options-container {
  padding: 24px 32px;
  background-color: white;
  border-radius: 25px;
  width: fit-content;
  margin: 0 auto;
}

.options-menu-title-container {
  display: flex;
  justify-content: space-between;
}
.options-menu-title {
  font-weight: 400;
  font-size: 20px;
  color: #262626;
  margin-bottom: 42px;
}
.options-more-link {
  font-weight: 400;
  font-size: 20px;
  text-decoration: underline;
  color: #9b9b9b;
}

.options-menu-list {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
  justify-content: center;
}
.options-menu-card {
}
.options-menu-img {
}
.options-menu-item-descr {
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #b3b3b3;
  max-width: 129px;
}

.options-menu-btn {
  width: 36px;
  height: 40px;
  border: none;
}

.advantages {
  padding-top: 262px;
  padding-bottom: 80px;
}

.advantages-list {
  display: flex;
  justify-content: center;
  gap: 48px;
}
.advantages-item {
  position: relative;
}
.advantages-nr {
  font-weight: 400;
  font-size: 20px;
  color: #262626;
}
.advantages-title {
  font-weight: 400;
  font-size: 40px;
  color: #262626;
  max-width: 360px;
  margin-bottom: 16px;
}
.advantages-text {
  font-weight: 400;
  font-size: 20px;
  color: #262626;
  max-width: 424px;
  margin-bottom: 132px;
}
.advantages-btns-container {
  display: flex;
  gap: 16px;
  position: absolute;
  top: 268px;
}

.advantages-img {
}

.tansparent-btn {
  border: 1px solid #231f20;
  color: #231f20;
  background-color: transparent;
}

.safety {
  padding: 56px 0;
}

.safety-title {
  font-weight: 500;
  font-size: 96px;
  color: #262626;
  max-width: 1023px;
  margin-bottom: 56px;
}
.safety-content {
  position: relative;
}
.safety-text {
  position: absolute;
  max-width: 335px;
}

.safety-text.left {
  top: 16px;
}

.safety-text.right {
  bottom: 110px;
  right: 0;
}

.adventure {
  padding-top: 80px;
  padding-bottom: 80px;
}

.adventure-text {
  font-weight: 500;
  font-size: 40px;
  text-align: right;
  color: #262626;
  margin-bottom: 120px;
}

.adventure-img {
  width: 1296px;
}

.gallery-section {
  padding: 40px 0;
}

.gallery-title {
  font-weight: 500;
  font-size: 96px;
  color: #262626;
  margin-bottom: 56px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery img:nth-child(1) {
  grid-column: span 2;
  grid-row: span 2;
}

.gallery img:nth-child(2),
.gallery img:nth-child(3),
.gallery img:nth-child(4) {
  grid-column: span 2;
  grid-row: span 1;
}

.gallery img:nth-child(5) {
  grid-column: 1 / span 2;
  grid-row: span 1;
}

.gallery img:nth-child(6) {
  grid-column: 3 / span 2;
  grid-row: 3 / span 2;
}

.gallery img:nth-child(7),
.gallery img:nth-child(8),
.gallery img:nth-child(9),
.gallery img:nth-child(10) {
  grid-column: span 1;
  grid-row: span 1;
}

.form-section {
  padding: 80px 0;
}
.form-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.form-title {
  font-weight: 500;
  font-size: 64px;
  text-transform: uppercase;
  color: #262626;
  max-width: 636px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 16px;
}

input {
  border: none;
  border-bottom: 1px solid rgba(38, 38, 38, 0.3);
  width: 416px;
  padding: 10px 0;
  background-color: transparent;
  font-weight: 400;
  font-size: 20px;
  color: rgba(38, 38, 38, 0.3);
  outline: none;
}

.submit-btn {
  margin-top: 20px;
  width: fit-content;
  font-weight: 500;
  font-size: 20px;
}

.models-title {
  font-weight: 500;
  font-size: 36px;
  color: #000;
  margin-bottom: 32px;
}

.models-list {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.model-card {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 32px;
  box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.05);
  background-color: rgba(255, 255, 255, 0.09);
  border-radius: 25px;
  flex-basis: calc((100% - 32px) / 3);
}
.medel-name-container {
}
.model-card-name {
  font-weight: 500;
  font-size: 24px;
  color: #262626;
  max-width: 125px;
  margin-bottom: 8px;
}
.model-card-descr {
  font-weight: 500;
  font-size: 20px;
  color: #2f2f37;
}
.model-card-img {
}
.model-info-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.model-info-container div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.model-info-container div p:first-child {
  font-weight: 500;
  font-size: 20px;
  color: #2f2f37;
}

.model-btns-container {
  display: flex;
  gap: 8px;
}

.limitless {
  padding: 120px 0;
}

.limitless .container {
  display: flex;
  justify-content: space-between;
}
.limitless-title {
  font-weight: 500;
  font-size: 96px;
  color: #262626;
  max-width: 630px;
  margin-bottom: 70px;
}
.limitless-text {
  width: 521px;
  height: 22px;
  margin-bottom: 32px;
}
.btn {
}
.black-btn {
}
.limitless-img {
  float: right;
  max-width: 648px;
}

.faqs .container {
  max-width: 854px;
}
.faqs-title {
  font-weight: 500;
  font-size: 64px;
  color: #262626;
  margin-bottom: 56px;
  text-align: center;
}
.faqs-list {
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-bottom: 120px;
}

.faqs-item-title {
  font-weight: 500;
  font-size: 32px;
  color: #262626;
  text-align: left;
  margin-bottom: 28px;
}
.faqs-text {
  font-weight: 400;
  font-size: 20px;
  color: #666;
  text-align: left;
}

.jeep-text-img {
  margin: 0 auto;
}

.footer {
  padding: 120px 0;
}

.footer .container {
  display: flex;
  justify-content: space-between;
}

.footer-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 24px 86px;
  max-height: 120px;
}

.footer-link {
  font-weight: 400;
  font-size: 20px;
  color: #000;
}

.subscribe-input {
  border: 1px solid rgba(38, 38, 38, 0.3);
  width: 400px;
  padding: 10px 16px;
  border-radius: 25px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.subscribe-form {
  display: flex;
  gap: 24px;
  flex-direction: column-reverse;
  position: relative;
}

.subscribe-btn {
  position: absolute;
  right: -1px;
  color: #000;
  border: solid 1px #000;
  background-color: transparent;
}

.subscribe-label {
  font-weight: 400;
  font-size: 20px;
  color: #000;
}
